
body {margin:0;
      font-family: "Lato", sans-serif;
      background-color:#F8F6FA;
    }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px 6px 12px 12px;
    max-width:80%;
    padding-bottom:5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: block;
    width: 100%;
    background-color:#fff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 6px 6px 12px 12px;
}
.card_image{s
  padding-left:0px;
  border-radius:6px 6px 0px 0px;
  width: 100%;
  height: 100%;
  /*height:165;*/
  }

.c_head{
    color:#90D26D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold;
    width: auto;
    text-align: center;
}

.c_par {
    color: #6A676D;
    text-align: center; 
    margin-right:5px;
    margin-left:2px 
}

/* Add some padding inside the card container */.container {
    padding: 2px 4px;
    min-width: 140px;
    width: 100%;
    overflow-x:overlay;
    display:inline-table;
    height:125px;
}

/*/////////////////////////////////////////////////////////////////*/
.center{
    display:inline-block; 
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
}

.top{
  padding:50px; 
}

.bottom{
  padding:50px; 
}

.top_bar{
   -webkit-box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
   -moz-box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
   box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
    display:inline-block;   
    background-color: #90D26D;
    position: fixed;
    top:0;
    width: 100%;
    padding:1px
}

.bot_bar {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    -moz-box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    box-shadow: 0px 0px 10px 1px rgba(107,107,107,0.43);
    display:inline-block;   
    overflow: hidden;
    list-style-type: none;
    background-color:#90D26D;
    position: fixed;
    bottom:0;
    margin:0;
    width: 100%;
    padding:8px;
}
li {
    display:inline-block;
}
li a {
    display:block;
    color:#6A676D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    transition:5s;
    transform:translateY(-1px);
    color:#6A676D;/*grey*/
}
.active {
    color:#90D26D; 
}

svg:hover:not(.active) *{
    color:#6A676D;/*grey*/   
}
.active *{
    fill:#ffffff; 
}

/*/////////////////////////////////////////////////////////////////*/

.blend-gradient /*blue green*/ {
  background: -webkit-linear-gradient(79deg, rgb(40, 184, 207), rgb(79, 216, 140));
  background: linear-gradient(79deg, rgb(40, 184, 207), rgb(79, 216, 140));
}

.blend-gradient2 {
  background: -webkit-linear-gradient(79deg, rgb(127, 76, 216), rgb(133, 93, 227));
  background: linear-gradient(79deg, rgb(127, 76, 216), rgb(133, 93, 227));
}

.accent{
    color:#90D26D;
}
/*/////////////////////////////////////////////////////////////////*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:11;
    color:#90D26D;
    display: block;
    transition: 0.3s
}

.sidenav p {
    font-size:11;
    color:#6A676D;
}

.sidenav h1 {
   font-size:28px;
   color:#90D26D;
   display: block;
   padding: 8px 8px 8px 32px;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*/////////////////////////////////////////////////////////////////*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #90D26D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}